# Pandas Series Structure

In [1]:
import pandas as pd

In [2]:
students = ['Alice','Jack','Molly']

In [3]:
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [5]:
students = ['Alice','Jack',None]

In [6]:
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [7]:
pd.Series([1,2,None])

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
import numpy as np

In [9]:
np.nan == None

False

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [18]:
students_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly':'English',}
s = pd.Series(students_scores,index=['Alice','Molly','Jack','Billy'])
s

Alice      Physics
Molly      English
Jack     Chemistry
Billy          NaN
dtype: object

In [13]:
type(s)

pandas.core.series.Series

In [14]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [15]:
students = [('Alice','Brown'),('Jack','White'),('Molly','Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [16]:
s = pd.Series(['Amazon','Facebook','Microsoft'],index=['Jeff','Mark','Bill'])

In [17]:
s

Jeff       Amazon
Mark     Facebook
Bill    Microsoft
dtype: object

In [19]:
import pandas as pd

In [20]:
student_classes = {
    'Alice':'Physics',
    'Jack':'Chemistry',
    'Molly':'English',
    'Sam':'History',
}
s = pd.Series(student_classes)

In [21]:
s.iloc[3] #equivalent to s[3]

'History'

In [22]:
s.loc['Molly']

'English'

In [23]:
s[3]

'History'

In [24]:
s['Molly']

'English'

In [25]:
class_code = {
    99: 'Physics',
    100: 'Chemistry',
    101: 'English',
    102: 'History',
}
s = pd.Series(class_code)

In [26]:
s[0]

KeyError: 0

In [27]:
s.iloc[0]

'Physics'

In [28]:
grades = pd.Series([90,80,70,60])

In [29]:
total = 0
for grade in grades:
    total += grade
print(total/len(grades))

75.0

In [30]:
import numpy as np

In [31]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [33]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    107
1    130
2    359
3    108
4    283
dtype: int64

In [34]:
numbers

0       107
1       130
2       359
3       108
4       283
       ...
9995    185
9996    353
9997    852
9998    262
9999    320
Length: 10000, dtype: int64

In [35]:
%%timeit -n 100
total = 0
for number in numbers:
    total += number
total/len(numbers)

1.68 ms ± 90.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [36]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

140 µs ± 37.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
numbers.head()

0    107
1    130
2    359
3    108
4    283
dtype: int64

In [38]:
numbers+=2

In [39]:
numbers.head()

0    109
1    132
2    361
3    110
4    285
dtype: int64

In [47]:
for label,value in numbers.iteritems():
    numbers.at[label]=value+2
numbers.head()

0    117
1    140
2    369
3    118
4    293
dtype: int64

In [48]:
s = pd.Series(np.random.randint(0,1000,1000))

In [49]:
%%timeit -n 10
for label,value in s.iteritems():
    s.at[label] = value+2

6.66 ms ± 810 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [51]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
s += 2

607 µs ± 221 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [52]:
s = pd.Series([1,2,3])
s.loc['History'] = 102
s

0            1
1            2
2            3
History    102
dtype: int64

In [53]:
s.at['Law'] = 345

In [54]:
s

0            1
1            2
2            3
History    102
Law        345
dtype: int64

In [ ]:
students_classes = pd.Series(
    {
        'Alice':'Physics',
        'Jack':'Chemistry',
        'Molly':'English',
        'Sam':'History',
    }
)