In [1]:
import pandas as pd

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [2]:
obj3

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [3]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [4]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [5]:
obj2['California'] == None

False

In [6]:
import pandas as pd
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
    '5': 'Ryan'
}
S = pd.Series(d)

In [7]:
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [11]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [14]:
df = pd.read_csv('datasets/class_grades.csv')
df = df.head(10)
df

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17      NaN     63.15  48.89
3       7         NaN       NaN    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00       NaN  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [17]:
df[df.isnull().any(axis=1)]

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
2       8       83.70     83.17      NaN     63.15  48.89
3       7         NaN       NaN    49.38    105.93  80.56
7       7       72.85     86.85    60.00       NaN  56.11

In [67]:
import pandas as pd
df = pd.read_csv('datasets/NISPUF17.csv')
#df[['CHILDNM','EDUC1']]
#df[df['EDUC1'] < 12]['EDUC1']
#df[df['EDUC1'].lt(12) & df['EDUC1'].gt(4)]['EDUC1']
#df.shape
dfc = df[['CHILDNM','EDUC1']]
#df['CHILDNM'].unique()
#print(df['EDUC1'].unique())

#dfc.head(19)
#dfc[['CHILDNM','EDUC1']].where(dfc['EDUC1'] == 12).dropna()
#dfc[dfc['EDUC1'] == 4][['CHILDNM','EDUC1']]
nn = dfc[dfc.isnull().any(axis=1)] #checks null
d = {
    'less than high school' : sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/sum(dfc['CHILDNM']),
    'high school' : sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/sum(dfc['CHILDNM']),
    'more than high school but not college' : sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/sum(dfc['CHILDNM']),
    'college' : sum(dfc[(dfc['EDUC1'] == 4 )]['CHILDNM'])/sum(dfc['CHILDNM']),
}
nn

[4 3 1 2]

Empty DataFrame
Columns: [CHILDNM, EDUC1]
Index: []

In [93]:
def proportion_of_education():
    dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','EDUC1']]
    d = {
        'less than high school' : sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/sum(dfc['CHILDNM']),
        'high school' : sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/sum(dfc['CHILDNM']),
        'more than high school but not college' : sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/sum(dfc['CHILDNM']),
        'college' : sum(dfc[(dfc['EDUC1'] == 4 )]['CHILDNM'])/sum(dfc['CHILDNM']),
    }
    return d

In [95]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

In [123]:
#dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','CBF_01','BF_ENDR06']]
#print(dfc['CBF_01'].unique())
#dfc.head(10)
#dfc[dfc['CBF_01'] == 1]['BF_ENDR06'].head(10)
#breast_feed_yes =  dfc[dfc['CBF_01'] == 1]
#breast_feed_yes[breast_feed_yes.isnull().any(axis=1)] #breast feeded yes but length of time don't know!!
#dfc[dfc['CBF_01'] == 2]['BF_ENDR06']
#dfc[dfc['CBF_01'] == 3]['BF_ENDR06'].head(10)
#dfc[dfc['CBF_01'] == 4]['BF_ENDR06'].head(10)
dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','CBF_01','P_NUMFLU']]
bmy = dfc[dfc['CBF_01'] == 1].dropna()
bmn = dfc[dfc['CBF_01'] == 2].dropna()
bmy.head(20)
#bmn.head(20)
#dfc.head(20)
y = sum(bmy['P_NUMFLU'])/sum(bmy['CHILDNM'])
n = sum(bmn['P_NUMFLU'])/sum(bmn['CHILDNM'])
(y,n)

(1.0212539851222104, 0.8343365611096571)

In [127]:
def average_influenza_doses():
    dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','CBF_01','P_NUMFLU']]
    bmy = dfc[dfc['CBF_01'] == 1].dropna()
    bmn = dfc[dfc['CBF_01'] == 2].dropna()
    y = sum(bmy['P_NUMFLU'])/sum(bmy['CHILDNM'])
    n = sum(bmn['P_NUMFLU'])/sum(bmn['CHILDNM'])
    return (y,n)
average_influenza_doses()

(1.0212539851222104, 0.8343365611096571)

In [125]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

In [47]:
import pandas as pd
dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','SEX','HAD_CPOX','P_NUMVRC']]
#dfc.head()
#dfc['SEX'].unique() #1 male 2 female
#dfc[dfc.isnull().any(axis=1)] # any rows at least one NaN
#dfc['P_NUMVRC'].unique() #total number of doses
print(dfc['HAD_CPOX'].unique()) #yes no don't know refused missing
my = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
mn = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
print(sum(my['CHILDNM'])/sum(mn['CHILDNM']))
fy = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
fn = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']!=1) &(dfc['P_NUMVRC']>0.0)]
print(sum(fy['CHILDNM'])/sum(fn['CHILDNM']))

[ 2  1 77 99]
0.009650274067783526
0.008080646451716137

In [29]:
dfc['P_NUMVRC'].unique()

array([nan,  1.,  0.,  2.,  3.])

In [34]:
dfc_null = dfc[dfc.isnull().any(axis=1)]
dfc_null[dfc_null['HAD_CPOX'] == 1]

       CHILDNM  SEX  HAD_CPOX  P_NUMVRC
296          2    2         1       NaN
468          3    2         1       NaN
630          1    2         1       NaN
668          3    2         1       NaN
756          1    2         1       NaN
...        ...  ...       ...       ...
28234        1    2         1       NaN
28366        3    1         1       NaN
28443        1    1         1       NaN
28453        1    1         1       NaN
28455        1    1         1       NaN

[229 rows x 4 columns]

In [35]:
my[my.isnull().any(axis=1)]

Empty DataFrame
Columns: [CHILDNM, SEX, HAD_CPOX, P_NUMVRC]
Index: []

In [36]:
fy[fy.isnull().any(axis=1)]

Empty DataFrame
Columns: [CHILDNM, SEX, HAD_CPOX, P_NUMVRC]
Index: []

In [44]:
my

       CHILDNM  SEX  HAD_CPOX  P_NUMVRC
461          2    1         1       1.0
687          2    1         1       1.0
863          1    1         1       1.0
1479         2    1         1       1.0
1906         3    1         1       1.0
...        ...  ...       ...       ...
27045        2    1         1       1.0
27720        1    1         1       1.0
28106        2    1         1       1.0
28107        2    1         1       1.0
28404        1    1         1       1.0

[68 rows x 4 columns]

In [54]:
#print(dfc['HAD_CPOX'].unique()) #yes no don't know refused missing
my = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
mn = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
fy = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
fn = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
print(sum(my['P_NUMVRC'])/sum(mn['P_NUMVRC']))
print(sum(fy['P_NUMVRC'])/sum(fn['P_NUMVRC']))
d ={
    "male":sum(my['P_NUMVRC'])/sum(mn['P_NUMVRC']),
    "female":sum(fy['P_NUMVRC'])/sum(fn['P_NUMVRC']),
}

0.009941192943153179
0.007827221336425568

array([nan,  1.,  0.,  2.,  3.])

In [59]:
def chickenpox_by_sex():
    import pandas as pd
    dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','SEX','HAD_CPOX','P_NUMVRC']]
    my = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
    mn = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
    fy = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
    fn = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
    d ={
        "male":sum(my['P_NUMVRC'])/sum(mn['P_NUMVRC']),
        "female":sum(fy['P_NUMVRC'])/sum(fn['P_NUMVRC']),
    }
    return d

In [60]:
chickenpox_by_sex()

{'male': 0.009941192943153179, 'female': 0.007827221336425568}

In [61]:
import scipy.stats as stats
import numpy as np
import pandas as pd

# this is just an example dataframe
df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
               "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})
df.head(100)

    had_chickenpox_column  num_chickenpox_vaccine_column
0                       1                              1
1                       2                              1
2                       2                              0
3                       1                              0
4                       1                              2
..                    ...                            ...
95                      2                              3
96                      2                              0
97                      1                              1
98                      2                              5
99                      2                              2

[100 rows x 2 columns]

In [62]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                   "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    return corr

    # YOUR CODE HERE
    #raise NotImplementedError()
corr_chickenpox()

-0.07834833820779709

In [76]:
def proportion_of_education():
    dfc = pd.read_csv('datasets/NISPUF17.csv')[['CHILDNM','EDUC1']]
    d = {
        'less than high school' : sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/sum(dfc['CHILDNM']),
        'high school' : sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/sum(dfc['CHILDNM']),
        'more than high school but not college' : sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/sum(dfc['CHILDNM']),
        'college' : sum(dfc[(dfc['EDUC1'] == 4 )]['CHILDNM'])/sum(dfc['CHILDNM']),
    }
    return d

proportion_of_education()

{'less than high school': 0.11,
 'high school': 0.18,
 'more than high school but not college': 0.25,
 'college': 0.46}

In [75]:
import pandas as pd
df = pd.read_csv('datasets/NISPUF17.csv')
#df[['CHILDNM','EDUC1']]
#df[df['EDUC1'] < 12]['EDUC1']
#df[df['EDUC1'].lt(12) & df['EDUC1'].gt(4)]['EDUC1']
#df.shape
dfc = df[['CHILDNM','EDUC1']]
#df['CHILDNM'].unique()
#print(df['EDUC1'].unique())

#dfc.head(19)
#dfc[['CHILDNM','EDUC1']].where(dfc['EDUC1'] == 12).dropna()
#dfc[dfc['EDUC1'] == 4][['CHILDNM','EDUC1']]
nn = dfc[dfc.isnull().any(axis=1)] #checks null
d = {
    'less than high school' : sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/sum(dfc['CHILDNM']),
    'high school' : sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/sum(dfc['CHILDNM']),
    'more than high school but not college' : sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/sum(dfc['CHILDNM']),
    'college' : sum(dfc[(dfc['EDUC1'] == 4 )]['CHILDNM'])/sum(dfc['CHILDNM']),
}
d

{'less than high school': 0.11,
 'high school': 0.18,
 'more than high school but not college': 0.25,
 'college': 0.46}

# Reattempt

In [20]:
def proportion_of_education():
    import pandas as pd
    df = pd.read_csv('assets/NISPUF17.csv')
    dfc = df[['CHILDNM','EDUC1']]
    #dfc[dfc.isnull().any(axis=1)] #checks if any null row exits
    #type(dfc['EDUC1'].unique())
    #dfc['EDUC1'].unique()
    total_child = sum(dfc['CHILDNM'])
    d = {
        'less than high school':sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/total_child,
        'high school':sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/total_child,
        'more than high school but not college':sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/total_child,
        'college':sum(dfc[dfc['EDUC1'] == 4]['CHILDNM'])/total_child,
    }
    return d
proportion_of_education()
#t = 0
#for k,v in d.items():
#    t += v
#print(t)

{'less than high school': 0.11250237146651489,
 'high school': 0.17577309808385505,
 'more than high school but not college': 0.24972490988427243,
 'college': 0.4619996205653576}

In [29]:
def proportion_of_education():
    import pandas as pd
    dfc = pd.read_csv('assets/NISPUF17.csv')
    #dfc[dfc.isnull().any(axis=1)] #checks if any null row exits
    #type(dfc['EDUC1'].unique())
    #dfc['EDUC1'].unique()
    total_child = sum(dfc['CHILDNM'])
    d = {
        'less than high school':round(sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/total_child,1),
        'high school':round(sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/total_child,1),
        'more than high school but not college':round(sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/total_child,1),
        'college':round(sum(dfc[dfc['EDUC1'] == 4]['CHILDNM'])/total_child,1),
    }
    return d
proportion_of_education()

{'less than high school': 0.1,
 'high school': 0.2,
 'more than high school but not college': 0.2,
 'college': 0.5}

In [33]:
import pandas as pd
dfc = pd.read_csv('assets/NISPUF17.csv')[['CHILDNM','EDUC1']]
#dfc[dfc.isnull().any(axis=1)]

Empty DataFrame
Columns: [CHILDNM, EDUC1]
Index: []

In [40]:
def proportion_of_education():
    import pandas as pd
    dfc = pd.read_csv('assets/NISPUF17.csv')
    #dfc[dfc.isnull().any(axis=1)] #checks if any null row exits
    #type(dfc['EDUC1'].unique())
    #dfc['EDUC1'].unique()
    total_child = sum(dfc['CHILDNM'])
    d = {
        'less than high school':sum(dfc[dfc['EDUC1'] == 1]['CHILDNM'])/total_child,
        'high school':sum(dfc[dfc['EDUC1'] == 2]['CHILDNM'])/total_child,
        'more than high school but not college':sum(dfc[dfc['EDUC1'] == 3]['CHILDNM'])/total_child,
        'college':sum(dfc[dfc['EDUC1'] == 4]['CHILDNM'])/total_child,
    }
    return d
proportion_of_education()

{'less than high school': 0.11250237146651489,
 'high school': 0.17577309808385505,
 'more than high school but not college': 0.24972490988427243,
 'college': 0.4619996205653576}

In [39]:
import pandas as pd
dfc = pd.read_csv('assets/NISPUF17.csv')
dfc.shape[0]

28465

{'less than high school': 0.20832601440365361,
 'high school': 0.3254874407166696,
 'more than high school but not college': 0.46242754259617075,
 'college': 0.8555067626910241}

In [45]:
import pandas as pd
dfc = pd.read_csv('assets/NISPUF17.csv')
dfc[['CHILDNM','EDUC1']]

       CHILDNM  EDUC1
0            3      4
1            3      3
2            3      3
3            1      4
4            2      1
...        ...    ...
28460        1      3
28461        2      2
28462        1      3
28463        1      2
28464        1      4

[28465 rows x 2 columns]

In [51]:
#succeed
def proportion_of_education():
    import pandas as pd
    dfc = pd.read_csv('assets/NISPUF17.csv')[['CHILDNM','EDUC1']]
    #dfc[dfc.isnull().any(axis=1)] #checks if any null row exits
    #type(dfc['EDUC1'].unique())
    #dfc['EDUC1'].unique()
    total_child = dfc.shape[0]
    d = {
        'less than high school':dfc[dfc['EDUC1']==1].shape[0]/total_child,
        'high school':dfc[dfc['EDUC1']==2].shape[0]/total_child,
        'more than high school but not college':dfc[dfc['EDUC1']==3].shape[0]/total_child,
        'college':dfc[dfc['EDUC1']==4].shape[0]/total_child,
    }
    return d
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [54]:
import pandas as pd
dfc = pd.read_csv('assets/NISPUF17.csv')[['CHILDNM','EDUC1']]
dfc.dropna()

       CHILDNM  EDUC1
0            3      4
1            3      3
2            3      3
3            1      4
4            2      1
...        ...    ...
28460        1      3
28461        2      2
28462        1      3
28463        1      2
28464        1      4

[28465 rows x 2 columns]

In [57]:
import pandas as pd
import numpy as np
df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                   "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [69]:
#succeed
def average_influenza_doses():
    import pandas as pd
    dfc = pd.read_csv('assets/NISPUF17.csv')[['CBF_01','P_NUMFLU']]
    #print(dfc['CBF_01'].unique()) #yes no 
    bmy = dfc[dfc['CBF_01'] == 1].dropna()
    bmn = dfc[dfc['CBF_01'] == 2].dropna()
    y = sum( bmy['P_NUMFLU'])/bmy.shape[0]
    n = sum( bmn['P_NUMFLU'])/bmn.shape[0]
    return (y,n)
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

In [72]:
def chickenpox_by_sex():
    import pandas as pd
    dfc = pd.read_csv('assets/NISPUF17.csv')[['CHILDNM','SEX','HAD_CPOX','P_NUMVRC']]
    
    my = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
    mn = dfc[(dfc['SEX'] ==1) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
    
    fy = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==1) &(dfc['P_NUMVRC']>0.0)]
    fn = dfc[(dfc['SEX'] ==2) & (dfc['HAD_CPOX']==2) &(dfc['P_NUMVRC']>0.0)]
    d ={
        "male":sum(my['HAD_CPOX'])/sum(mn['HAD_CPOX']),
        "female":sum(fy['HAD_CPOX'])/sum(fn['HAD_CPOX']),
    }
    return d
chickenpox_by_sex()

{'male': 0.004837791690381332, 'female': 0.0038959129667744783}

In [3]:
import pandas as pd
dfc = pd.read_csv('assets/NISPUF17.csv')[['CHILDNM','SEX','HAD_CPOX','P_NUMVRC']]
#dfc[dfc.isnull().any(axis=1)] #so there are some na
dfc.dropna(inplace = True)
male = dfc[dfc['SEX'] ==1] 
male_pox = male[male['HAD_CPOX'] == 1] #male who have pox
male_npox =male[male['HAD_CPOX'] == 2] #male who do not have pox
male_pox_vacinated = male_pox[male_pox['P_NUMVRC'] > 0.0] #male who have pox but vacinated
male_pox_nvacinated = male_npox[male_npox['P_NUMVRC'] > 0.0] #male who had not pox and vacinated

female = dfc[dfc['SEX'] ==2] #female
female_pox = female[female['HAD_CPOX'] == 1] #female who had pox
female_npox = female[female['HAD_CPOX'] == 2] #female who did not have pox
female_pox_vacinated = female_pox[female_pox['P_NUMVRC'] >0.0] #female who had pox and vacinated
female_pox_nvacinated = female_npox[female_npox['P_NUMVRC'] > 0.0] #female who had not pox and vacinated

female_pox_vacinated.shape[0]/female_pox_nvacinated.shape[0]

0.0077918259335489565

In [4]:
#succeed
def chickenpox_by_sex():
    import pandas as pd
    dfc = pd.read_csv('assets/NISPUF17.csv')[['CHILDNM','SEX','HAD_CPOX','P_NUMVRC']]
    #dfc[dfc.isnull().any(axis=1)] #so there are some na
    dfc.dropna(inplace = True)
    male = dfc[dfc['SEX'] ==1] 
    male_pox = male[male['HAD_CPOX'] == 1] #male who have pox
    male_npox =male[male['HAD_CPOX'] == 2] #male who do not have pox
    male_pox_vacinated = male_pox[male_pox['P_NUMVRC'] > 0.0] #male who have pox but vacinated
    male_pox_nvacinated = male_npox[male_npox['P_NUMVRC'] > 0.0] #male who had not pox and vacinated

    female = dfc[dfc['SEX'] ==2] #female
    female_pox = female[female['HAD_CPOX'] == 1] #female who had pox
    female_npox = female[female['HAD_CPOX'] == 2] #female who did not have pox
    female_pox_vacinated = female_pox[female_pox['P_NUMVRC'] >0.0] #female who had pox and vacinated
    female_pox_nvacinated = female_npox[female_npox['P_NUMVRC'] > 0.0] #female who had not pox and vacinated
    d = {
        'male':male_pox_vacinated.shape[0]/male_pox_nvacinated.shape[0],
        'female':female_pox_vacinated.shape[0]/female_pox_nvacinated.shape[0],
    }
    return d

In [5]:
chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}